.DS_Store
.ropeproject/
.ipynb_checkpoints/
__pycache__/
archived_logs/
src/__pycache__/
src/models/__pycache__/
src/notebooks/__pycache__/
checkpoints/
.idea/
preprocessed_data/
logs/
tf_logs/
train_logs/
line_regression_model/
data/
*.jpg
*.csv
*.html
*.txt
*.p
*.out
*.zip
